{% extends 'base.jinja2' %}

{% block subtitle %}Donor Database{% endblock subtitle %}

{% block content %}

{# Comment: create button to go to create.jinja2 form #}
<form action='/create/' method='GET' id='submit_button'>
</form>
<button type="submit" form="submit_button" value="Add Donation">Add Donation</button>

<table border="1" cellspacing="0" cellpadding="2.5">
<td><b>Name</b></td>
<td><b>Amount</b></td>
</tr>
<ul>
    {% for donation in donations %}
        <tr><td><b>{{ '{:<10}'.format(donation.donor.name) }}</b></td> <td>{{ '${:>75,.2f}'.format(donation.value) }}</td></tr>
    {% endfor %}
</ul>
</table>
{% endblock content %}

